/*
RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
GENERAL
*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-2{
    max-width: 1000px;
    margin: 0 auto;
}
.my-row{
    display: flex;
}
.my-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.row-1{
    padding: 5px;
     
}
.row-2{
    width: 50%;
    text-align: center;
    padding: 5px;    
}
.row-3{
    text-align: right;
    padding: 5px;    
}
.small-cell{    
    width: 25%;
}
.my-colomn-big{
    width: 60%;
}
.my-colomn-small{
    width: 40%;
}



/*
DEBUG
*/
.debug .orange{
    background-color: #daa520;
    height: 30px;
    
    
}
.debug .header-top{
    background-color: #add8e6;
    height: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.debug .header-bottom{
    background-color:#00008b;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 3px solid #add8e6;
}
.debug .bg-little{
    background-color:#ee82ee;
    height: 300px;
}
.debug .cell{    
    border: 1px dashed black;
}
.debug .bg-white{
    background-color: white;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.debug .bg-gray{
    background-color: #d3d3d3;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.debug .my-colomn-big{
    background-color: #1e90ff;
    height: 300px;
}
.debug .my-colomn-small{
    background-color: #ffc0cb;
    height: 300px;
}
       
