/*
RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
GENERAL
*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-2{
    max-width: 1000px;
    margin: 0 auto;
}
.my-row{
    display: flex;
}
.my-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.my-row-between{
    display: flex;
    justify-content: space-between;
}
.row-1{
    padding: 5px;
     
}
.row-2{
    width: 50%;
    text-align: center;
    padding: 5px;    
}
.row-3{
    text-align: right;
    padding: 5px;    
}
.small-cell{    
    width: 25%;
}
.my-colomn-big{
    width: 60%;
}
.my-colomn-small{
    width: 40%;
}
.my-colomn-big-2{
    width: 60%;
}
.my-colomn-small-2{
    width: 40%;
}
.logo-cell{
    width: 5%;
    margin-top: 25px;
    margin-bottom: 25px;
}




/*
DEBUG
*/
.debug .orange{
    background-color: #daa520;
    height: 30px;
    
    
}
.debug .header-top{
    background-color: #add8e6;
    height: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.debug .header-bottom{
    background-color:#00008b;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 3px solid #add8e6;
}
.debug .bg-little{
    background-color:#ee82ee;
    height: 300px;
}
.debug .cell{    
    border: 1px dashed black;
}
.debug .cell-2{
    border: 1px dashed white;
}
.debug .bg-white{
    background-color: white;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.debug .bg-gray{
    background-color: #d3d3d3;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.debug .my-colomn-big{
    background-color: #1e90ff;
    height: 300px;
}
.debug .my-colomn-small{
    background-color: #ffc0cb;
    height: 300px;
}
.debug .bg-gray-2{
    background-color: #d3d3d3;
    height: 800px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.debug .bg-green{
    background-color: #228b22;
    height: 600px;
}     
.debug .bg-black{
    background-color: black;
    height: 800px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 3px solid #d3d3d3;
}
.debug .my-colomn-big-2{
    background-color: #20b2aa;
    height: 700px;
}
.debug .my-colomn-small-2{
    background-color: #f08080;
    height: 700px;
}
.debug .high{
    height: 700px;
}
.debug .bg-black-2{
    background-color: black;
    height: 125px;
    padding-top: 45px;
}
.debug .footer-bottom{
    background-color: #7fffd4;
    height: 80px;
}
.debug .bottons{
    background-color: #ffc0cb;
    height: 30px;
}
