/*
RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
GENERAL
*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
.cointainer{
    max-width: 1200px;
    margin: 0 auto;
}
.cointainer-2{
    max-width: 1000px;
    margin: 0 auto;
}
.my-row{
    display: flex;
}
.row-1{
    padding: 5px;
     
}
.row-2{
    width: 50%;
    text-align: center;
    padding: 5px;    
}
.row-3{
    text-align: right;
    padding: 5px;    
}
.small-cell{    
    width: 25%;
}
.cell{    
    border: 1px dashed black;
}
/*
DEBUG
*/
.debug .orange{
    background-color: #daa520;
    height: 30px;
    
    
}
.debug .header-top{
    background-color: #add8e6;
    height: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.debug .header-bottom{
    background-color: #00008b;
    height: 400px;
    margin-top: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.debug .bg-little{
    background-color: #ee82ee;
    height: 300px;
}
